@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

img {
	display: block;
	width: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100dvh;
	background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.card {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.logo {
	position: relative;
	left: 1.5rem;
	width: 100px;
	padding: 2rem 0 2rem 0;
}

.hero-mobile {
	background-color: darkred;
	max-width: 600px;
	margin: 0 auto 0 auto;
}

.hero-desktop {
	display: none;
}

/* We're coming soon */
.card p:nth-child(4) {
	color: black;
	padding-top: 4rem;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: .5rem;
	font-weight: 700;
}

/* We're */
.card p:nth-child(4) span {
	font-weight: 300;
	color: hsl(0, 36%, 70%);
}

/* Hello fellow ... */
.card p:nth-child(5) {
	font-size: .9rem;
	line-height: 1.5rem;
	text-align: center;
	padding: 1rem 2rem 0 2rem;
	color: hsl(0, 36%, 70%);
}

#input-wrapper {
	display: flex;
	flex-flow: row nowrap;
	align-items: top;
	justify-content: center;
	height: 100%;
	position: relative;
	width: clamp(220px, 85%, 320px);
	margin: auto;
	padding-top: 2rem;
}

#input-wrapper .submitbtn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	right: 0px;
	background-color: #f96262;
	width: 5rem;
	height: 50px;
	border-radius: 2rem;
	color: white;
}

.emailsubmitted {
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: #f96262;
	color: white;
	font-size: 1.5rem;
	border-radius: 2rem;
	width: 100%;
	height: 50px;
}

#input-wrapper .submitbtn img {
	display: none;
	width: 10px;
}

/* Email input */
input {
	font-family: 'Josefin Sans', sans-serif;
	padding-left: 1.5rem;
	padding-right: 5rem;
	width: 100%;
	height: 50px;
	border-radius: 2rem;
	color: black;
	border: 1px solid hsl(0, 36%, 70%);
}

@media (min-width: 1080px) {

	.card {
		display: grid;
		max-height: 800px;
		max-width: 1440px;
		background-image: url("../images/bg-pattern-desktop.svg");
		background-repeat: no-repeat;
		grid-template-columns: auto max-content;
		grid-template-rows: auto auto auto 1fr;
		grid-template-areas:
			"logo hero"
			"headline hero"
			"message hero"
			"email hero";
	}

	.hero-desktop {
		grid-area: hero;
		height: 800px;
	}

	.logo {
		grid-area: logo;
		width: 150px;
		padding: 3rem 0 0 0;
		left: 20%;
	}

	/* We're coming soon */
	.card p:nth-child(4) {
		grid-area: headline;
		text-align: start;
		font-size: 4.5rem;
		padding: 8rem 20% 0 20%;
	}

	/* Hello fellow ... */
	.card p:nth-child(5) {
		grid-area: message;
		text-align: start;
		padding: 1rem 20% 0 20%;
	}

	#input-wrapper {
		grid-area: email;
		width: 60%;
		margin-left: 20%;
	}

	.hero-mobile {
		display: none;
	}

	.hero-desktop {
		display: block;
	}
}

@media (max-width: 270px) {
	/* We're coming soon */
	.card p:nth-child(4) {
		font-size: 2rem;
		letter-spacing: 0;
	}
}

@media (max-width: 220px) {
	input,
	#input-wrapper,
	#input-wrapper::before {
		display: none;
	}

	.card p:nth-child(5) {
		display: none;
	}

}